<%-include ../Partials/header.ejs %>
<%-include ../Partials/navbar.ejs %>
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <a href="/reviews/add" class="btn btn-primary" role="button">Create a Review!</a>
            <table class="table table-borderless table-hover">
                <!--Headers-->
                <tr class="d-flex">
                    <th class="text-center col-2">Reviewer</th>
                    <th class="text-center col-3">Film</th>
                    <th class="text-center col-1">Rating</th>
                    <th class="text-center col-5">Comment</th>
                    <th class="text-center col-1">Edit</th>
                    <th class="text-center col-1">Delete</th>
                </tr>
                <!--a for loop to write out all of the reviews.-->
                <% for(let count=0; count<ReviewList.length;count++) { %>
                <tr class="d-flex">
                    <th class="text-center col-2"><%= ReviewList[count].reviewer %></th>
                    <th class="text-center col-3"><%= ReviewList[count].film %></th>
                    <th class="text-center col-1"><%= ReviewList[count].rating %></th>
                    <th class="text-center col-5"><%= ReviewList[count].comment %></th>
                    <th class="text-center col-1">
                        <a href="/reviews/edit/<%= ReviewList[count]._id%>" class="btn btn-primary btn-sm">Edit</a>
                    </th>
                    <th class="text-center col-1">
                        <a href="/reviews/delete/<%= ReviewList[count]._id%>" class="btn btn-danger btn-sm">Delete</a>
                    </th>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</main>
<%-include ../Partials/footer.ejs %>